@import "/styles/variables.scss";

.Comment {
  margin: 8px;
  min-width: 258px;
  max-width: 258px;
  height: 330px;
  padding: 20px 28px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include tablet {
    min-width: 298px;
    max-width: 298px;
    height: 306px;
    font-size: 16px;
  }
  & > p {
    font-size: 1.1em;
    font-style: italic;
  }
  & > div:last-child {
    display: flex;
    & > div:last-child {
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      & > span {
        font-size: 1.19em;
        font-weight: 600;
      }
      & > label {
        font-size: 0.94em;
        color: #787777;
      }
    }
  }
}
