.detail_hotel{



  &__main_container{
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(max-width: 640px) {
      padding: 30px;
    }
  }

  &__header{
    background-color: $accent;
    width: 100%;
    padding: 40px 0;
  }

  &__wrapper{
    background-color: $background;
  }

  &__name_container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__rating_container{
    color: $white !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    & p{
      font-family: "Raleway SemiBold", serif;
      margin: 0 0 0 10px;
    }
  }

  &__name{
    font-family: "Raleway Bold", serif;
    font-size: 60px;
    color: $white;
    margin: 0 20px 0 0;
  }

  &__main_image_container{
    width: 100%;

    & img{
      width: 100%;
      border-radius: 20px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }

    @media(max-width: 800px) {
      width: 100%;
    }
  }

  &__header_images_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
  }

  &__header_image_container{
    width: 110px;
    height: 110px;
    & img{
      width: 100%;
      height: 100%;
      border-radius: 20px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      object-fit: cover;    }
  }

  &__carrusel_container{
    width: 50%;

    @media(max-width: 800px) {
      width: 100%;
    }
  }

  &__images_container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @media(max-width: 800px) {
      flex-direction: column;
    }
  }

  &__image_container{
    max-height: 300px;
    & img{
      border-radius: 20px;
      width: 100%;
    }

    @media(max-width: 800px) {

      margin-top: 20px;
      max-height: 100%;
    }
  }

  &__thumbnail_container{
    margin-top: 10px;
    background-color: red !important;
  }

  &__image_thumbnail_container{
    & img{
      width: 100%;
      min-height: 70px;
      border-radius: 10px;
    }
  }

  &__map_container{
    width: 100%;
    height: 300px;
  }

  &__section_header{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__section_location{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__section_rooms{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__address{
    font-family: "Raleway Light", serif;
    margin-top: 20px;
    font-size: 18px;
  }

  &__description{
    font-family: "Raleway Light", serif;
    margin-top: 20px;
    font-size: 18px;
  }

  &__section_amenities{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__title_section{
    font-family: "Raleway Bold", serif;
    font-size: 25px;
    color: $primary;
    margin-bottom: 10px;
  }


  &__change_dates{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__date_range_container{
    margin-right: 20px;
  }

  &__hotel_amenities{
    margin-top: 30px;
  }

  &__amenity_title{
    font-family: "Raleway SemiBold", serif;
    font-size: 15px;
    color: $primary;
    margin: 0;
  }
  &__amenity_description{
    font-family: "Raleway Light", serif;
    font-size: 12px;
    color: $primary;
  }

  &__room_container{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }

  &__card_hotel_market_price{
    color: $primary;
    font-family: "Raleway Bold", serif;
    font-size: 22px;
    margin: 0;
    text-align: end;
  }

  &__card_hotel_token{
    color: $accent;
    font-family: "Raleway Bold", serif;
    font-size: 22px;
    margin: 0;
    text-align: end;
  }

  &__card_hotel_text{
    color: $primary;
    font-family: "Raleway Regular", serif;
    font-size: 15px;
    margin: 0;
    text-align: end;
  }

  &__name_room{
    font-family: "Raleway Bold", serif;
    font-size: 20px;
    color: $primary;
  }

  &__description_room{
    font-family: "Raleway Light", serif;
    font-size: 15px;
    color: $primary;
  }

  &__availability_room{
    font-family: "Raleway Medium", serif;
    font-size: 12px;
    color: $error;
    text-align: center;
  }

  &__facility_title{
    font-family: "Raleway Medium", serif;
    font-size: 15px;
    color: $primary;
    margin: 0;
  }
  &__facility_description{
    font-family: "Raleway Light", serif;
    font-size: 12px;
    color: $primary;
  }
  &__column_prices{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__book_room{
    background-color: $accent !important;
    transition: all 0.3s ease !important;
    border: 0 !important;
    border-radius: 30px !important;
    font-family: "Raleway Regular", serif;

    &:hover {
      background-color: $darkAccent !important;
    }
  }


  &__card_top_total{
    background-color: $white;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-top: 40px;
    position: sticky;
  }

  &__card_top_total_inner_container {
    padding: 20px 10px;
  }

  &__resume_reservation{
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: white;
    width: 300px;
    border-radius: 15px;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    padding: 20px;

    @media(max-width: 640px) {
      width: 90%;
      bottom: 10px;
      display: block;
    }
  }

  &__resume_reservation_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    @media(max-width: 640px) {
      flex-direction: row;
    }
  }

  &__resume_reservation_text{
    @media(max-width: 640px) {
      width: 50%;
    }
  }

  &__resume_reservation_taxes{
    margin-bottom: 10px;
    color: #041C2C;
    font-family: "Raleway Regular", serif;
    font-size: 15px;
    text-align: center;
  }

  &__name_membership{
    margin-bottom: 10px;
    color: #041C2C;
    font-family: "Raleway Regular", serif;
    font-size: 15px;
    text-align: left;

    & span{
      font-family: "Raleway Medium", serif;
    }
  }

  &__resume_reservation_button{
    display: flex;
    align-items: center;
    @media(max-width: 640px) {
      width: 50%;
    }
  }

  &__form_input{
    font-family: "Raleway Light", serif;
    border-radius: 50px;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    &:focus{
      box-shadow: 0 0 2px $accent;
      border: 1px solid $accent;
    }
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
  }

  &__row_people{
    margin-top: 40px;
  }

  &__form_label{
    text-align: center;
    width: 100%;
    font-family: "Raleway Regular", serif;
  }

  &__price{
    font-family: "Raleway Bold", serif;
    font-size: 25px;
    color: $primary;
    text-align: center;
    margin: 0;
    @media(max-width: 640px) {
      font-size: 25px;
    }
  }

  &__price_cross{
    font-family: "Raleway Bold", serif;
    font-size: 20px;
    color: $textGrayLight;
    text-align: center;
    margin: 0;
    text-decoration: line-through;
    @media(max-width: 640px) {
      font-size: 25px;
    }
  }

  &__price_token{
    font-family: "Raleway Bold", serif;
    font-size: 25px;
    color: $accent;
    text-align: center;
    margin: 0;
    @media(max-width: 640px) {
      font-size: 25px;
    }
  }

  &__detail_button{
    font-family: "Raleway Medium", serif;
    font-size: 20px;
    color: black;
    text-align: center;
    cursor: pointer;
    margin: 0;
  }

  &__title_modal{
    font-family: "Raleway Medium", serif;
    font-size: 25px;
  }

  &__detail_price_name_room{
    font-family: "Raleway Medium", serif;
    font-size: 18px;
  }

  &__detail_price_container p{
    margin: 0;
    font-family: "Raleway Regular", serif;
    font-size: 15px;
  }

  &__modal_total p{
    margin: 0;
    font-family: "Raleway Regular", serif;
    font-size: 15px;
  }

  &__comparation_card{
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: $white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container_buy_membership{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
  }
}


.tooltipCustom {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltipCustom .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: white;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 20px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);

}

.tooltipCustom:hover .tooltiptext {
  visibility: visible;
}