@import "../../styles/variables.scss";
.Footer {
  padding: 2% 8%;
  color: #fff;
  &__container {
    background-color: #19212c;
  }
  & hr {
    background-color: #fff;
  }
  & a {
    color: #fff;
  }
  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &__info {
      display: flex;
      font-size: 15px;
      color: #fff;
    }
  }
  &__bottom {
    @include desktop {
      width: 100%;
    }
    display: flex;
    justify-content: space-between;
    & ul {
      margin-top: 32px;
      height: 100%;
      display: flex;
      flex-direction: column;
      & b {
        margin-bottom: 32px;
        color: $accent;
      }
      & li {
        margin-bottom: 8px;
        list-style: none;
        & > a {
          text-decoration: underline !important;
          cursor: pointer;
        }
      }
    }
    &__logo {
      margin-top: 16px;
      & > a {
        & > img {
          width: 150px;
          height: 100px;
        }
      }
    }
  }
  &__copy {
    width: 100%;
    padding: 16px 0;
    font-size: 14px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent;
  }
}
