@import "/styles/variables.scss";
$background: "/img/HowItWorks/FirstPage/wave.png";

@mixin gradientTitle {
    color: transparent;
    background-clip: text;
    background: linear-gradient(#2698ea, #76ceff, #1f1d67);
    -webkit-background-clip: text;
}

.FirstPage {
    padding-top: 5rem;
    font-size: 16px;
    font-family: "Poppins Regular";
    background-image: url($background);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 6%;
    display: flex;
    justify-content: center;
    @include tablet {
        font-size: 17px;
    }
    @include desktop {
        font-size: 19px;
        background-position-y: 0;
    }
    &__container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include desktop {
            text-align: left;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            column-gap: 32px;
        }
        &__info {
            max-width: 400px;
            margin-bottom: 56px;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include desktop {
                width: 55%;
                align-items: flex-start;
            }
            & > h2 {
                margin-bottom: 36px;
                font-size: 1.45em;
                font-weight: 600;
                letter-spacing: 0.5px;
                @include gradientTitle;
            }
            & > p:nth-child(2) {
                margin-bottom: 40px;
                font-size: 2.05em;
                font-weight: 600;
                line-height: 44px;
                @include desktop {
                    line-height: 48px;
                }
            }
            & > p:nth-child(3) {
                width: 85%;
                padding-bottom: 20px;
                color: #777e90;
                font-size: 1.1em;
                letter-spacing: 0.5px;
                @include desktop {
                    width: 100%;
                    font-size: 1em;
                }
            }
            & > div:last-child {
                cursor: pointer;
                & > span {
                    margin-left: 16px;
                    color: #7d7d7d;
                    font-size: 21px;
                    font-weight: 600;
                }
            }
        }
        &__image {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            @include desktop {
                width: 45%;
            }
            &__box {
                width: 85%;
                max-width: 460px;
                position: relative;
                @include desktop {
                    width: 100%;
                }
                & > img {
                    width: 100%;
                }
            }
        }
    }
}
