.PaymentMethod {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    & > label {
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.54);
        font-weight: 600;
    }
    & > div {
        width: 95%;
        padding: 8px 24px;
        border-radius: 25px;
        background-color: rgba(136, 227, 255, 0.17);
        display: flex;
        justify-content: space-between;
        align-self: center;
        column-gap: 24px;
        & > div {
            padding: 6px 24px;
            border-radius: 25px;
            cursor: pointer;
            & > span {
                font-size: 15px;
                font-weight: 600;
            }
        }
    }
}
