.Cards {
    display: flex;
    flex-direction: column;
    &__item {
        width: 100%;
        margin: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > div:first-child {
            & > img {
                width: 32px;
            }
            & > span {
                margin-left: 12px;
                color: rgba(0, 0, 0, 0.54);
                font-size: 15px;
                font-weight: 600;
            }
        }
        & div:last-child {
            display: flex;
            column-gap: 12px;
        }
    }
}
