@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/roboto/Roboto-Black.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/roboto/Roboto-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/roboto/Roboto-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/roboto/Roboto-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Thin";
  src: url("../fonts/roboto/Roboto-Thin.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway Black";
  src: url("../fonts/raleway/Raleway-Black.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/raleway/Raleway-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway ExtraBold";
  src: url("../fonts/raleway/Raleway-ExtraBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway ExtraLight";
  src: url("../fonts/raleway/Raleway-ExtraLight.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway Light";
  src: url("../fonts/raleway/Raleway-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway Medium";
  src: url("../fonts/raleway/Raleway-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/raleway/Raleway-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway SemiBold";
  src: url("../fonts/raleway/Raleway-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway Thin";
  src: url("../fonts/raleway/Raleway-Thin.ttf");
  font-display: swap;
}

// =================== DM Sans ====================

@font-face {
  font-family: "DM Sans Regular";
  src: url("../fonts/DM_Sans/DMSans-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "DM Sans Medium";
  src: url("../fonts/DM_Sans/DMSans-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "DM Sans Bold";
  src: url("../fonts/DM_Sans/DMSans-Bold.ttf");
  font-display: swap;
}

// =================== Poppins ====================

@font-face {
  font-family: "Poppins Light";
  src: url("../fonts/Poppins/Poppins-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-display: swap;
}

// =================== Inter ====================

@font-face {
    font-family: "Inter Regular";
    src: url("../fonts/Inter/Inter-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Inter Medium";
    src: url("../fonts/Inter/Inter-Medium.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Inter Bold";
    src: url("../fonts/Inter/Inter-Bold.ttf");
    font-display: swap;
}
